@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Creepster);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:900|PT+Mono|Averia+Sans+Libre:400,700);
body{
	padding:0;
	margin:0;
  background-color: black;
}

@keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}
@keyframes bg{
  0%{
    background-image:url('assets/grid.png');
  }
  
  20%{
    background-image:url('assets/grid7.png');
  }
  
  60%{
    background-image:url('assets/grid8.png');
  }
  
  100%{
    background-image:url('assets/grid.png');
  }

}
@-webkit-keyframes bg{
  0%{
    background-image:url('assets/grid.png');
  }
  
  20%{
    background-image:url('assets/grid7.png');
  }
  
  60%{
    background-image:url('assets/grid8.png');
  }
  
  100%{
    background-image:url('assets/grid.png');
  }

}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}





@keyframes tripy {
  0% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #0595f8, 10px 10px 0 #ffd05c, 14px 14px 0 #df2818, 18px 18px 0 #0595f8, 22px 22px 0 #ffd05c;
  }
  33% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #ffd05c, 10px 10px 0 #df2818, 14px 14px 0 #0595f8, 18px 18px 0 #ffd05c, 22px 22px 0 #df2818;
  }
  66% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #df2818, 10px 10px 0 #0595f8, 14px 14px 0 #ffd05c, 18px 18px 0 #df2818, 22px 22px 0 #0595f8;
  }
  100% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #0595f8, 10px 10px 0 #ffd05c, 14px 14px 0 #df2818, 18px 18px 0 #0595f8, 22px 22px 0 #ffd05c;
  }
}
@-webkit-keyframes tripy {
  0% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #0595f8, 10px 10px 0 #ffd05c, 14px 14px 0 #df2818, 18px 18px 0 #0595f8, 22px 22px 0 #ffd05c;
  }
  33% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #ffd05c, 10px 10px 0 #df2818, 14px 14px 0 #0595f8, 18px 18px 0 #ffd05c, 22px 22px 0 #df2818;
  }
  66% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #df2818, 10px 10px 0 #0595f8, 14px 14px 0 #ffd05c, 18px 18px 0 #df2818, 22px 22px 0 #0595f8;
  }
  100% {
    color: black;
    text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk, 6px 6px 0 #0595f8, 10px 10px 0 #ffd05c, 14px 14px 0 #df2818, 18px 18px 0 #0595f8;
  }
}
@keyframes tripy2 {
  0% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 deeppink, 10px 10px 0 aquamarine, 14px 14px 0 pink, 18px 18px 0 deeppink;
  }
  33% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 aquamarine, 10px 10px 0 pink, 14px 14px 0 deeppink, 18px 18px 0 aquamarine;
  }
  66% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 pink, 10px 10px 0 deeppink, 14px 14px 0 aquamarine, 18px 18px 0 pink;
  }
  100% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 deeppink, 10px 10px 0 aquamarine, 14px 14px 0 pink, 18px 18px 0 deeppink;
  }
}
@-webkit-keyframes tripy2 {
  0% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 deeppink, 10px 10px 0 aquamarine, 14px 14px 0 pink, 18px 18px 0 deeppink;
  }
  33% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 aquamarine, 10px 10px 0 pink, 14px 14px 0 deeppink, 18px 18px 0 aquamarine;
  }
  66% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 pink, 10px 10px 0 deeppink, 14px 14px 0 aquamarine, 18px 18px 0 pink;
  }
  100% {
    color: black;
    text-shadow: -2px -2px 0 aquamarine, 2px -2px 0 aquamarine, -2px 2px 0 aquamarine, 2px 2px 0 aquamarine, 6px 6px 0 deeppink, 10px 10px 0 aquamarine, 14px 14px 0 pink;
  }
}
.array{
	border-radius:50px;
	width:30px;
	height:30px;
	background-color: #0595f8;
	float:left;
}
.reset{
	border-radius:50px;
	width:30px;
	height:30px;
	background-color: #df2818;
	float:right;
}
.lk{
	height:100vh;
	width:100vw;
	background-color: lavenderblush;
}
.eye {
  width: 200px;
  height: 200px;
  border-radius: 70% 0%;
  //border: 1px solid black;
  margin: auto;
  transform: rotate(45deg);
  background: white; /* For browsers that do not support gradients */
   border:2px solid black;
  position: relative;
  top: 40%;
  display: block;
  float:left;
  animation: move3 10s infinite;
}
.eye:last-child{
	margin-left:400px;
}
.eye:first-child{
	margin-left:20%;
}
.eye > span {
  width: 150px;
  height: 150px;
  border:2px solid black;
  border-radius: 50%;
  position: relative;
  top: 10px;
  display: block;
  left: 40px;
   background: deeppink; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(deeppink, pink, aquamarine); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(deeppink, pink, aquamarine); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(deeppink, pink, aquamarine); /* For Firefox 3.6 to 15 */
  background: radial-gradient(deeppink, pink, aquamarine); /* Standard syntax */
  animation: move 10s infinite;
}

.eye > span > span {
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  top: 20px;
  left: 50px;
  display: block;
  animation: move2 10s infinite;
}
.eye > span > span > span:first-child{
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  top: -2px;
  left: 30px;
  display: block;
  animation: move2 10s infinite;
}
.eye > span > span > span:last-child{
  background-color: white;
  border-radius: 50%;
      width: 10px;
    height: 10px;
    position: relative;
    top: 9px;
    left: 37px;
  display: block;
  animation: move2 10s infinite;
}

@keyframes move {
  50% {
    transform: translate(-30px, 30px);
    border-radius:150% 70%;
  }
}

@keyframes move2 {
  50% {
    transform: translate(-30px, 30px);
  }
}
@keyframes move3 {
  50% {
    border-radius: 90% 0;
  }
}
.visual .lk h4{
	font-family: 'Creepster';
	color:black;
	letter-spacing: 0.3em;
	text-shadow: 2px 2px aquamarine;
	-webkit-animation: tripy2 .33s infinite;
}

canvas {
  position:absolute;
  left:0;
  top:0;
  z-index: -1;
  opacity: 0;
  transition:5s;
  -webkit-transition:5s;
}


.og{
	height:100vh;
	width:100vw;
	background-color: cornsilk;
}
.og h4{
	color:black;
	letter-spacing: 0.2em;
	/*font-family: 'Fredoka One', sans-serif;*/
	font-family: 'Averia Sans Libre', cursive;
	-webkit-animation: tripy .33s infinite;
}
.og span:nth-child(2){
	height:4px;

	z-index: 3;


}
.og span:nth-child(1){

	background-color: #df2818;
	border-radius:50px;
	z-index: 0;

}
.og span:nth-child(4){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 80px 40px;
	background-color: rgba(0,0,0,0);
	border-color: transparent transparent #0595f8 transparent;
	z-index: 2;
}
.og span:nth-child(5){
	width: 100px;
	height: 50px;
	-webkit-transform: skew(20deg);
   	-moz-transform: skew(20deg);
    -o-transform: skew(20deg);
	background: #df2818;
	z-index: 1;
}
.og span:nth-child(8){
	width: 100px;
	height: 50px;
	-webkit-transform: skew(20deg);
   	-moz-transform: skew(20deg);
    -o-transform: skew(20deg);
	background: #df2818;
	z-index: 1;
}
.og span:nth-child(10){

	background-color: #df2818;
	border-radius:50px;
	z-index: 0;

}
.og span:nth-child(9){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 80px 40px;
	background-color: rgba(0,0,0,0);
	border-color: transparent transparent #0595f8 transparent;
	z-index: 2;
}
.og span:nth-child(15){
	width: 4px;
}
.og span:nth-child(16){
	height: 4px;
}
.og span:nth-child(12){
	width:4px;
}
.og span:nth-child(13){
	height:4px;
}
.og span:nth-child(14){
	width: 100px;
	height: 50px;
	-webkit-transform: skew(20deg);
   	-moz-transform: skew(20deg);
    -o-transform: skew(20deg);
	background: #ffd05c;
	z-index: 1;
}
.og span:nth-child(6){
	/*	height:0;*/
	border:50px;
	background-color: #ffd05c;
	z-index: 0;
}

.og span{
	height:50px;
	display: block;
	position: fixed;
	width:50px;
	background-color: rgba(0,0,0,0);
	margin-top:100px;
}
.og span:nth-child(7){
	width:4px;
}
.og span img{
  width:90%;
}
.bf{
	height:100vh;
	width:100vw;
  letter-spacing: 0.3em;
	background-color: rgba(0,0,0,0);
/*  background-image: url('assets/1.png');*/
	font-family: 'Fredoka', sans-serif;

  background-size: 100%;
  background-position:50% 50%;
}
.bf h4{
  position: fixed !important;
  top:25%;
  text-shadow:
    3px 3px 0 #fff,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
   -1px  1px 0 #fff,
    1px  1px 0 #fff !important;
}

.dg{
	height:100vh;
	width:100vw;
	background-color: rgba(0,0,0,0);

/*    background-image: url('assets/iphone.gif');*/
/*    background-size: 80%;*/
    background-repeat: repeat;
/*    background-position: 63% 64%;*/


}
.dg h4{
	color: blue;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px deeppink !important;
    letter-spacing: .2em;
    padding-top: 85px !important;
     animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 10px 10px #F0F0F0;
}

.round1,.round2,.round3,.round4,.round5{
  height:100vh;
  width:100vw;
  background-color: black;
  color:black;
  font-size: 3em;
}


.visual>div{
	max-height: 0;
	opacity: 0;
	position: absolute;
	transition: opacity 5s;
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-ms-transition: opacity 5s;
	-o-transition: opacity 5s;
	overflow: hidden;
}
.visual div h4{
	font-size: 85px;
/*	font-family: 'helvetica', sans-serif;*/
	text-transform: uppercase;
	text-shadow: 1px 1px #fff;
	text-align: center;
	position: relative;
	z-index: 2;
	width: 100%;
	line-height: 200%;
	transition:1s;
	-webkit-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-o-transition:1s;
  padding-top:2%;

}


svg path {
    stroke: #fff;
    fill:none;
    stroke-width: 1;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation-name: draw;
    animation-duration: 10s;
    
    animation-iteration-count: infinite; // Run only once
    animation-timing-function: linear;
  }

svg{
  width:100%;
  margin-top:8%;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
